<%= render :partial => "answer" unless @last_answer.nil? %>
<%= render :partial => "status" %>

<div id="flashcard" style="color:#222;background-color:#<%= @last_flashcard.html_bg_colour %>">
<div id="hint1"><%= @last_flashcard.hint1 %></div>
<div id="hint2"><%= @last_flashcard.hint2.add_breaks '; ' %></div>
</div>

<div id="rating_box">
Rate this card:
<% for rating in ['easy','medium','hard'] %>
  <% form_tag ({:controller => "flashcard", :action => "rate_difficulty"}, :method => :post) do %>
    <%= hidden_field_tag :flashcard_id, @last_flashcard.id %>
    <%= hidden_field_tag :rating, rating %>
    <%= submit_tag rating, :class => "game_button rating" %> 
  <% end %>
<% end %>
<br />
<b>Easy</b> flashcards will be revised less frequently than <b>hard</b> ones.
</div>
<div id="footer">
<hr />
</div>
