<%= render :partial => "answer" unless @last_flashcard.nil? or @answer_message.blank? %>
<%= render :partial => "status" %>
<div id="flashcard" style="color:#222;background-color:#<%= @flashcard.html_bg_colour %>">
<div id="hint1"><%= @flashcard.hint1 %></div>
<div id="hint2"><%= @flashcard.hint2.add_breaks '; ' %></div>
</div>

<div id="answer_box">
<table class="skinny_table">
<% for answers in @possible_answers.in_groups_of 2 %>
  <tr>
  <% for answer in answers %>
    <td>
    <%= render :partial => "answer_button", :locals => {:answer => answer} %>
    <td />
  <% end %>
  <tr />
<% end %>
</table>
</div>
<div id="footer">
<hr />
</div>

