<h1><%= @village.name %></h1>
<%= render :partial => "population" %>
<br />
<b>Quality of life:</b> <%= @village.quality_of_life.add_plus %>
<%= link_to_remote( "more info",
                   :update => "quality-of-life-info",
                   :url => { :action => :quality_of_life_info } ) %>
<div id="quality-of-life-info"></div>
<i>Increase quality of life to attract people to your village</i>

<hr />
<%= render :partial => "food" %>
<br />
<b>Food supply:</b> <%= @village.display_ration_level %>
<br />
<% for level in ['no','half','normal','extra','double'] %>
  <% form_tag ({:controller => 'village', :action => 'set_rations'}, :method => :post, :class => "inline") do %>
    <%= hidden_field_tag :ration_level, level %>
    <%= submit_tag level + " rations", :class => "game_button" %> 
  <% end %>
<% end %>

<hr />
<% for building in @village.buildables %>
<div>
  <% if building.image.exists? then %>
    <%= image_tag building.image.url(:thumb) %>
  <% end %>
  <b><%= building.name%></b> - <%= @village.amount_of building %> built - <b><%= building.cost %> rice</b> 
  <% form_tag ({:controller => "village", :action => "build"}, :method => :post, :class => "inline") do %>
    <%= hidden_field_tag :type_id, building.id %>
    <%= submit_tag "Build " + building.name, :class => "game_button" %> 
  <% end %>
</div>
<% end %>

<% for building in @village.unbuildables %>
<div>
  <b><%= building.name %></b> - master <b><%= building.words_required %></b> words to unlock
</div>
<br />
<% end %>
<hr />
<h2>Coming soon:</h2>
<ul>
<li>Do battle with your friends</li>
<li>New building types: guide your village from ancient China to the modern world</li>
<li>Bonuses for recruiting your friends</li>
</ul>
